.navbar{
  text-align: center;
  font-style: normal;
  font-weight: bold;
  text-decoration: black;
}

body{
  background-color: lightgrey;
  text-align: center;
}

#carousel-example-generic{
  align-items: center;
  margin-left: 500px
}

h1{
  background-color: lightblue;
}

.grid{
  text-align: right;
}

img{
  padding-bottom: 25px;
}

.buttons{
  padding-bottom: 25px;
}
