.navbar{
  text-align: center;
  font-style: normal;
  font-weight: bold;
  color: black;
}

body{
  background-color: lightgrey;
  text-align: center;
}

#carousel{
  align-items: center;
}

h1{
  background-color: lightblue;
}

.grid{
  text-align: right;
}
