<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<div class="navbar">
  <div class="row"
    <ul class="list-unstyled">
      <div class="col-md-1">
        <li><a href="News"></li>
      </div>
      <div class="col-md-1">
        <li><a href="Reviews"></li>
      </div>
      <div class="col-md-1">
        <li><a href="col-md-1"></li>
      </div>
      <div class="col-md-5">
        <li class= "home"></li>
      </div>
      <div class="col-md-1">
        <li><a href="About"></li>
      </div>
      <div class="col-md-1">
        <li><a href="Events"></li>
      </div>
      <div class="col-md-1">
        <li><a href="community"></li>
      </div>
      <div class="search">
      </div>
               
</div>
</body>
</html>
