<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<div class="navbar">
  <div class="row">
      <div class="col-md-1">
        <a href="News">
      </div>
      <div class="col-md-1">
        <a href="Reviews">
      </div>
      <div class="col-md-1">
        <a href="col-md-1">
      </div>
      <div class="col-md-5">
        <a href= "home">
      </div>
      <div class="col-md-1">
        <a href="About">
      </div>
      <div class="col-md-1">
        <a href="Events">
      </div>
      <div class="col-md-1">
        <a href="community">
      </div>
      <div class="searchbutton">
      </div>
    </div>
</div>
</body>
</html>
